[Unit]
Description=app.js - making your environment variables rad
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/kWebSocket
Environment=NODE_ENV=production
Type=simple
User=ubuntu
ExecStart=/usr/bin/npm start
Restart=always

[Install]
WantedBy=multi-user.target
~                              


